##############################################################################
##                         ENCRYPTED USER PASSWORDS                         ##
##                                                                          ##
##      Encrypt User Passwords In json File                                 ##
##                                                                          ##
##      Valid Options: md2, md5, sha-1, sha-256, sha-384, sha-512, bcrypt   ##
##                     none, clear, empty = No encryption                   ##
##                                                                          ##
##############################################################################
passcrypt=bcrypt
#
# Allow passwords from drftpd2 that used the crypt() method
# Note: the passcrypt will be used to hash the password at login/chpass
#compatcrypt=crypt